# Factorial of a number

In [ ]:
num=5
fact=1
if num<0:
  print("why are u giving negative number, haven't studied maths? ")
else:
  for i in range(1,num+1):
    fact=fact*i
print("factorial of num is :" ,fact)

factorial of num is : 120

In [ ]:
# Recursive approch

**# FUNCTIONS :** A functions is a block of
code that design to perform a specific task !

# In python it is declared or defined by "def".

In [ ]:
def teja_winner():        # defining func
  print("teja is winner")
teja_winner()               # calling func

teja is winner

#Arguments / Parameters :
we can use some values withing the functions,that are called argument or parameter

In [ ]:
def func(fname,lname):
  print("the fullname is :",fname+ " " + lname )
func("Pritha","Samanta")

the fullname is : Pritha Samanta

#Arbitarary argument:
when you donot know the number of argument

In [ ]:
def func(*students):
  print("the student at merit position is " + students[2])
func("pri","tha","sam","rai")

the student at merit position is sam

In [ ]:
def fun(fname="pritha"):
  print("the full name is ",fname)
fun()   #defult argument taking
fun("komal")  # giving komal as a argument

the full name is  pritha
the full name is  komal

In [ ]:
def fun(c):
  return 10*c
num = fun(6)
print(num)

60

In [ ]:
def sum(a,b):
  return a+b
print(sum(10,20))

30

In [ ]:

def fact(n):
  while n>0:
  return fact(n-1)*n;
print(fact(5))

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

# List : list are collection of element that are ordered, and it is changeable means mutable!

In [11]:
#list

my_list=[3,4,5,6,7]
print(my_list)
#Append function # Pop
my_list.append(10)
print(my_list)
element =my_list.pop()
print(element)
print(my_list)

#insert function

my_list.insert(5,16)
element=my_list[5]
print(element)
print(my_list)

my_list.insert(4,13)
element=my_list[4]
print(element)
print(my_list)

[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7, 10]
10
[3, 4, 5, 6, 7]
16
[3, 4, 5, 6, 7, 16]
13
[3, 4, 5, 6, 13, 7, 16]

[3, 4, 5, 6, 16, 10]
10
16

In [4]:
element =my_list.pop()
print(element)

7