
1.find max min value in a list             
2.Tuples                                         
3.Sets                                          
4.List comprehension

In [1]:
list=[10,30,1,45,90,102]
print(list)
minimum = min(list)
maximum = max(list)
print("minimum value is :" , minimum)
print("maximum value is :" ,maximum)

[10, 30, 1, 45, 90, 102]
minimum value is : 1
maximum value is : 102

#Tuples : use ()
 -> it is ordered collection like a list
 -> duplicates are allowed
 -> elements can not be changed, means immutable

 # Difference between list and tuples are :   Tuples are imutable but lists are mutable

In [2]:
#tuple

tuple =(9,10,11,12,13,14,10)
print(tuple)
print(len(tuple))

(9, 10, 11, 12, 13, 14, 10)
7

In [3]:
# List Comprehension : list and loops are combined , where we need to reduce the size of code

pritha_list=[x**2 for x in range(1,6)]
print(pritha_list)

[1, 4, 9, 16, 25]

# SETS : Built in data type in python
unordered collection                                
does not allows duplicate                          
these are useful to perform op like union intersection,difference etc .

In [7]:
my_names = {'tanu', 'sraddha', 'priyanka', 'pritha'}  # this is fine

my_list = [10, 12, 14, 16, 18, 10]
vasu_set = set(my_list)
print(vasu_set)

vasu_set.add(34)

print(vasu_set)

vasu_set.remove(14)
print(vasu_set)

vasu_set.discard(12)   # same like remove, but if the element is not present till it wil not show error
print(vasu_set)

vasu_set.clear()
print(vasu_set)

{10, 12, 14, 16, 18}
{34, 10, 12, 14, 16, 18}
{34, 10, 12, 16, 18}
{34, 10, 16, 18}
set()

In [10]:
a={"Apple","ball","cat"}
b={"ball","dog","cat","egg"}

# union
c=a.union(b)
print(c)
 # second way to do union

d=a|b
print(d)

# intersection
e=a.intersection(b)
print(e)
# second way to do intersection
f=a&b
print(f)

{'egg', 'dog', 'cat', 'Apple', 'ball'}
{'egg', 'dog', 'cat', 'Apple', 'ball'}
{'cat', 'ball'}
{'cat', 'ball'}