# Python is  high level interpreted and general purpose language

# syntax are the rules use to write any program

#Variables : It are the names of memory location that stores value

In [ ]:
print("Hello World")

Hello World

In [ ]:
a=10     # a is the variable that stores 10
print(a)

10

# Data Types:
 x=14 # integer data type           
 name ='pritha' # string data type                       
 is_active = True # boolean                        
 price = 13.5 # float

In [ ]:
name="Pritha samanta"
print(name)

Pritha samanta

In [ ]:
is_me_right = True
print(is_me_right)

True

#OPERATOR : +,-,*,?,%

In [ ]:
num1 =10
num2=20
sum = num1 +num2
minus = num1 - num2
mul = num1 * num2
div = num1 / num2
mod = num1 % num2
print(sum)
print(minus)
print(mul)
print(div)
print(mod)

30
-10
200
0.5
10

In [ ]:
type(div)

float

In [ ]:
# Assignment operator
num =14
num+= 10
num

24

In [ ]:
# Swapping two no
a=81
b=18
temp= a
a=b;
b=temp;
print(a)
print(b)

18
81

In [ ]:
# Swappig without third variable

a=13
b=7
b=a+b
a=b-a
b=b-a
print(a)
print(b)

7
13